<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #ab {
        background-color: bisque;
        text-decoration-color: black;
        align-items: center;
    }
</style>

<body>
    <div id="ab">
        <h1>NO USER FOUND </h1>
        <a href="/register">REGISTER HERE</a>
    </div>
</body>

</html>